{% extends 'base.html' %}
{% from "bootstrap5/form.html" import render_form %}

{% block title %}{{ title }}{% endblock %}

                 
{% block form %}
<div class="shadow p-3 mb-5 bg-body rounded">
    {{ render_form(form) }}
</div>
{% endblock %}

{% block table %}
<div class="table-responsive">           
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Industry Groups</th>
                <th>Scans</th>
                <th>Watchlist</th>
                <th>Focuslist</th>
                <th>Open Positions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            ajax: '/weeklyroutine/data',
            columns: [
                { data: 'date' },
                { data: 'industry_groups' },
                { data: 'scans' },
                { data: 'watchlist' },
                { data: 'focuslist' },
                { data: 'open_positions' }
            ],
        });
    });
</script>
{% endblock %}
