{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}{{ title }}{% endblock %}

{% block toolbar %}
<div class="btn-toolbar mb-2 mb-md-0">
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value=Upload>
    </form>
</div>
{% endblock %}

{% block form %}{{ render_form(form) }}{% endblock %}

{% block table %}
<div class="table-responsive">
    <table id='data' class='table table-striped'>
        <thead>
            <tr>
                <th>id</th>
                <th>Date</th>
                <th>Symbol</th>
                <th>No. of Shares</th>
                <th>Buy Price $</th>
                <th>Position Size $</th>
                <th>Sell Price $</th>
                <th>Profit/Loss $</th>
                <th>ROI %</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        var table = $('#data').DataTable({
            ajax: '/api/trade',
            columns: [
                { data: 'id' },
                { data: 'date' },
                { data: 'symbol' },
                { data: 'num_shares' },
                { data: 'buy_price' },
                { data: 'position_size' },
                { data: 'sell_price' },
                { data: 'net_pnl' },
                { data: 'net_roi' },
                { data: 'notes' }
            ],
        });
    });
</script>
{% endblock %}