{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}{{ title }}{% endblock %}


{% block form %}{{ render_form(form) }}{% endblock %}

{% block table %}
<div class="table-responsive">
    <table id='data' class='table table-striped'>
        <thead>
            <tr>
                <th>Date</th>
                <th>Symbol</th>
                <th>Position Size</th>
                <th>Net P&L</th>
                <th>Net ROI</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable({
            ajax: '/api/trade',
            columns: [
                { data: 'date' },
                { data: 'symbol' },
                { data: 'position_size' },
                { data: 'net_pnl' },
                { data: 'net_roi' },
                { data: 'notes' }
            ],
        });
    });
</script>
{% endblock %}