{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}



<div class="card mb-3" id="import-card">
    <h4 class="card-header">Import Instructions</h4>
    <div class="card-body">
        <p class="card-text">The trades must be saved in CSV format and a max file size of 1MB.</p>
        <p class="card-text">The data format looks like the following:<br>
            <br>
            <b>date,symbol,num_shares,buy_price,sell_date,sell_price,notes</b><br>
            2021-01-14,KPTI,5,452,2021-01-28,448,<br>
            2021-01-27,INSG,310.23984,12.48,2021-02-07,13.24,<br>
            <br>
            A few notes about this data format:<br>
            <ul>
            <li>Date: must be yyyy-mm-dd form-data.</li>
            <li>Data should be comma delimited.</li>
            </ul>
        </p>
        <div class="mb-3">
            <form method="post" enctype="multipart/form-data">
                <p><input type="file" name=file class="form-control-file"></p>
                <p><input type="submit" class="btn btn-primary" value="Upload"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}