{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}



<div class="card mb-3" id="import-card">
    <h4 class="card-header">Import Instructions</h4>
    <div class="card-body">
        <p class="card-text">The trades must be saved in CSV format and a max file size of 1MB.</p>
        <p class="card-text">The data format looks like the following:<br>
            <br>
            <b>date,symbol,num_shares,buy_price,sell_price,notes</b><br>
            2021-01-14,KPTI,5,452,448,<br>
            2021-01-27,INSG,310.23984,12.48,13.24,<br>
            <br>
            A few notes about this data format:<br>
            <ul>
            <li>Date: must be yyy-mm-dd form-data.</li>
            <li>Data should be comma delimited.</li>
            <li>The rows should be in the order shown.</li>
            </ul>
        </p>
        <div class="mb-3">
            <form method="post" enctype="multipart/form-data">
                <p><input type="file" name=file class="form-control-file"></p>
                <p><input type="submit" class="btn btn-primary" value="Upload"></p>
            </form>
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}