{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}{{ title }}{% endblock %}



{% block form %}
<div class="shadow p-3 mb-5 bg-body rounded">
    {{ render_form(form) }}
</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    $(document).on('focus', "#datepick", function () {
        $(this).datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true,

        });
    });
</script>

<script type="text/javascript">
    $(document).on('focus', "#datepick", function () {
        $(this).datepicker({
            format: 'yyyy-mm-dd',
            todayHighlight: true,
            autoclose: true,

        });
    });
</script>

{% endblock %}